body {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 75px;
  display: flex;
  flex-direction: column;
}

.navbar--content {
  display: flex;
  flex: 1;
}

.navbar--title {
  display: flex;
  flex: 3;
}

.navbar--title__brand {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar--title__brand, h1{
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
}

.navbar--title__separator {
  color: orange;
}

.navbar--links {
  display: flex;
  flex-direction: row;
  flex: 5;
}

.navbar--links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar--links__link a {
  color: #323232;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar--base {
  display: flex;
  flex-direction: row;
}

.navbar--base__bar {
  background-color: blue;
  width: 100px;
  height: 15px;
  flex: 1;
}
.navbar--base__bar:nth-child(4n+1) {
  background-color: orange;
}

.navbar--base__bar:nth-child(4n+2) {
  background-color: yellow;
}
.navbar--base__bar:nth-child(4n+3) {
  background-color: red;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content__row {
  display: flex;
}
/*Begin JumboTron*/
.main-content__jumbotron {
  height: 450px;
  width: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)),
    url('../design-challenge/images/city.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__jumbotron--content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25%;
}

.main-content__jumbotron--content-header {
  display: flex;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main-content__jumbotron--separator {
  width: 40%;
  height: 5px;
  background-color: orange;
}

.main-content__jumbotron--content-tagline {
  color: #7f7f7f;
  font-size: 22px;
}

.main-content__jumbotron--link {
  text-decoration: none;
  color: white;
  background-color: orange;
  font-size: 40px;
  height: 55px;
  padding: 0 15px 0 15px;
}

.sub-content__section {
  height: 375px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(46, 138, 187, 0.7),
    rgba(46, 138, 187, 0.7)),
    url('../design-challenge/images/bear.jpg') center / cover;
}

.sub-content__section:last-child {
  background: linear-gradient(
    rgba(255, 153, 0, 0.7),
    rgba(255, 153, 0, 0.7)),
    url('../design-challenge/images/hot-air-balloon.jpg') center / cover;
}

.sub-content__section--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-content__section--content h3{
  padding: 0;
  margin: 0;
  color: white;
  font-size: 45px;
  font-weight: normal;
}

.sub-content__section--separator {
  width: 40%;
  height: 5px;
  background-color: white;
}

.sub-content__section--content p{
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.sub-content__section--link {
  text-decoration: none;
  color: orange;
  background-color: white;
  font-size: 40px;
  height: 55px;
  padding: 0 15px 0 15px;
}
/*

.main-content__jumbotron--content {
  padding: 0;
}*/
